<html>

<head>
    {% if title %}
    <title>{{ title}} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
</head>

<body>
    <!-- This is the navbar, can be improved -->
    <div>Microblog:
        <a href="/">Home</a>
        <a href="/search">Search</a>
    </div>
    <hr> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    <!-- End navbar -->
    <!-- And then the actual content -->
    {% endif %} {% endwith %} {% block content%}{% endblock %}
</body>

</html>