{% extends "base.html" %} {% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.condition.label }}<br> {{ form.condition(size=32) }}
        {% for error in form.condition.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<table>
    <tr>
        <td>
            <img src="static/images/UrgentCare.png" width="100" height="100" />
            <p> Urgent Care </p>
        </td>
        <td>
            <img src="static/images/BloodLoss.png" width="100" height="100" />
            <p> Blood Loss </p>
        </td>
        <td>
            <img src="static/images/MentalHealth.png" width="100" height="100" />
            <p> Mental Health </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="static/images/Infection.png" width="100" height="100" />
            <p> Infection </p>
        </td>
        <td>
            <img src="static/images/Pediatrics.png" width="100" height="100" />
            <p> Pediatrics </p>
        </td>
        <td>
            <img src="static/images/Poison.png" width="100" height="100" />
            <p> Poison </p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="static/images/RashRedness.png" width="100" height="100" />
            <p> Rash Redness </p>
        </td>
        <td>
            <img src="static/images/Sickness.png" width="100" height="100" />
            <p> Sickness </p>
        </td>
        <td>
            <img src="static/images/SportsInjuries.png" width="100" height="100" />
            <p> Sports Injuries </p>
        </td>
    </tr>
</table>
{% endblock %}