<form action = "http://localhost:5000/result" method = "POST">
<p>Select every treatment your hospital is able to provide.</p>

Urgent Care: <input type="checkbox" name="treatment1" value="urgentCare"  /><br />

Sports Injuries: <input type="checkbox" name="treatment2" value="sportsInjuries"  /><br />

General Sickness: <input type="checkbox" name="treatment3" value="generalSickness"  /><br />

Blood Loss: <input type="checkbox" name="treatment4" value="bloodLoss"  /><br />

Rash/Redness: <input type="checkbox" name="treatment5" value="rashRedness"  /><br />

Pediatrics: <input type="checkbox" name="treatment6" value="pediatrics"  /><br />

Mental Health and Addiction: <input type="checkbox" name="treatment7" value="mentalHealthandAddiction"  /><br />

Poisoning: <input type="checkbox" name="treatment8" value="poisoning"  /><br />

Infections: <input type="checkbox" name="treatment9" value="infections"  /><br /><br />

<input type="submit" value="SUBMIT" />

</form>
