{% extends "base.html" %} {% block content %}
<h1>Hospitals</h1>
{% for hospital in wHospitals %}
<div>
    <div class="provider">
        <h2>
            Wait Hospital: {{ hospital[0] }}
        </h2>
        <p>
            Address: {{ hospital[2] }}
        </p>
        <p>
            {{ hospital[6] }}
        </p>
        <br>
    </div>
</div>
{% endfor %} 
{% for hospital in cHospitals %}
<div>
    <div class="provider">
        <h2>
            Cost Hospital: {{ hospital[0] }}
        </h2>
        <table>
            <tr>
            <td>
                $ {{ hospital[6] }}
            </td>
            <td>
                Address: {{ hospital[2] }}
            </td>
            </tr>
        </table>
        <p>
            {{ hospital[7] }}
        </p>
        <br>
    </div>
    <br>
</div>
{% endfor %}
{% endblock %}